*{
    margin:0;
    box-sizing: border-box;
    font-size:1rem;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    
}


.debug{
    border:1px dashed red;
}

.debug2{
    border:1px dashed blue;
    
}

.clearfix::after{
    content: "";
    display:table;
    clear: both;
}

.header-top{
    height: 80px;
    line-height:80px;
    vertical-align: middle;
    min-width: max-content;
    font-weight: 500;
    position:fixed;
    background-color:white;
    z-index:99;
   
    
}

.header-laterl{

}

.header-lateral .left{
    padding-inline-start:40px;
}
 .header-lateral .right{
    padding-inline-end:40px;
    padding-inline-start:0px;
}


ul.nav-list li{
    
    
    list-style-type: none;
    display:inline;
    margin:0px 10px;
}

.btn{
    padding:10px 15px;
    text-decoration: none;
    background-color:hsl(217deg 100% 50%);
    color:white;
}

a{
    text-decoration:none;
    padding-bottom:calc(80px / 2);
}

.header-lateral ul li a:hover{
    border-bottom:1px solid blue;
}
.header-lateral ul li a.logo:hover, .header-lateral ul li a.btn:hover {
    border:none;}

   
    .container{
        padding-top:80px;
        
        background-color:white;
        
        
    }
    
    .first{
        background-color:hsl(207deg 52% 81%);
        padding:5% 10%;
        padding-bottom:0px;
    }
    
    
   

    .first h1{
        font-size:4.5rem;
        margin-bottom:40px;
    }

    
    .first div p{
        margin-bottom:30px;
    }

    .btn:hover{
        opacity:0.7;
    }
    
    .first div a{
        display: block;
        margin-bottom:20px;
    }

    .a-main{
        padding:0px;
    }
    .a-main:hover{
        color:white;
    }

    .fa-arrow-down{
        display:block;
        font-size:3rem;
        margin-top:30px;
    }

    .jumbo{
        right:0;
    }
    

    .second{
        padding:5% 20% 0%;
    }

    .second h1{
        font-size:2em;
        margin-bottom:20px;
    }
    
    .tab-header{
        padding:1em;
        border-bottom:1px solid grey;
        
    }
    
    .tab-cnt{
        padding:5%;
        
    }
    .tab-cnt p:nth-child(3){
        margin-bottom:20px;
    }

    .brd{
        border:1px solid grey;
    }

    .tab-list{
        padding-inline-start: 5%;
        margin-bottom:80px;
       
    }
    .tab-list li{
        margin-bottom:10px;
    }

    .tab{
        min-height: 105vh;
       
    }
    .second-tab{
        min-height: 50vh;
        
    }

    .third{
        margin-top:6em;
        margin-bottom: 6em;
    }

    .pad-cnt{
        padding:5% 5% 0;
    }




    .pencil-style{
        
        list-style-image: url(../img/pencil.svg);
    }
    .user-style{
       
        list-style-image: url(../img/user.svg);
    }
    .folder-style{
        
        list-style-image: url(../img/folder.svg);
    }

    /* .check-flag li{
        list-style-image: url(../img/check-flag.svg);
        color:blue;
    } */

    .blue-link{
        color:blue;
    }
    .blue-link:hover{
        text-decoration: underline;
    }
    .check-flag li{
        
        list-style-image: url(../img/check-flag.svg);
    }
    ul.check-flag li::marker{
        color:blue;
       
        font-size:xx-large;
    }

.tab-mrg-left{
    margin-left:5%;
}
.tab-mrg-right{
    margin-right:5%;
}

.dettagli em{
    font-size:15px;
}

.pad0-L{
    padding-left:0;
}
.pad0-R{
    padding-right:0px;
}

.btn-white{ 
    background-color: white;
    color:black;
    border:1px solid black;
}

h2{
    font-size:1.5em;
}

    
    

    

    

    
















/* float */
.f-left{
    float:left;
}

.f-right{
    float:right;
}










/* utilities */

.mar-btm40{
    margin-bottom:40px;
}
.mar-top40{
    margin-top:40px;
}
.mar-top1em{
    margin-top:1em;
}


.relative{
    position:relative;
}
.absolute{
    position:absolute;
}




.block{
    display: block;
}
.inline{display:inline;}
.in-block{
    display:inline-block;
}
 /* widths */
.w10{width:10%;}
.w25{
    width:25%;
}

.w30{
    width:30%;
}
.w40{
    width: 40%;
}

.w50{
    width:50%;
}
.w60{
    width:60%;
}
.w70{
    width:70%;
}

.w75{
    width:75%;
}
.w80{
    width:80%;
}

.w100{
    width:100%;
}

/* heights */
.h100{
    height: 100%;
}

.hv100{
    height: 120vh;
}

.vh50{
    height: 50vh;
}

.center{text-align: center;}
.left{
    text-align:left;
}
.right{
    text-align:right;
}


.teams-section-central{
   position: relative;
    width:40%;
    padding-top: 30%;
    
}

.teams-section-central-content{
   position:absolute;
    width:100%;
    padding: 5%;
    left:0;
    top:0;
    
}

.teams-section-central img{
    
    width:30%;
    margin-bottom:3em;
}

.teams-section-central p{
    margin-top:2em;
}




.square{
    width:50%;
    padding-top:50%;
    float:left; 
    position: relative;
}
.inline{
    display:inline;
}

.square img{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    filter: invert(1);
}

.bottom-part-square{
    padding:5% 20%;
}
.bottom-part-square a.btn{
    border:none;
    width:30%;
    text-align:center;
}
.bottom-part-square h1{
    width:40%;
    font-size:2em;
}

/* background colors */
.designit{
    background-color:hsl(113deg 39% 72%);
    
}
.arizon-university{
    background-color:hsl(336deg 85% 21%) ;
}
.florida-university{
    background-color:hsl(197deg 100% 40%);
}
.topps{
    background-color:hsl(0deg 100% 55%);
}
.world-b{
    background-color: hsl(351deg 100% 42%);
}
.hearst{
    background-color: hsl(207deg 52% 81%);
}
.lonely-planet{
    background-color: hsl(228deg 82% 28%);
}
.c-channel{
   background-color:  hsl(49deg 100% 59%);
}

.central-backround{
    background-color:hsl(0deg 0% 96%);
}
.bottom-background{
    background-color: hsl(207deg 52% 81%);
}

.layover{
    height:100%;
    width:100%;
    border:20px solid hsl(114deg 39% 86%);
    position:absolute;
    left:0;
    top:0;
}


/* ask  */
.dom{
    width:100%;  
    padding:2em 0;
    border-bottom:1px solid lightgray;
}
.risp{
    display: none;
}
.dom:hover .risp{
    display:inline-block;
    padding: 1em 0;
}

.dom h2{
    font-size:1.2em;
}

 




/* /ask */
.foot{
    background-color: black;
    color:white;
    padding:5% 10%;
    text-align: left;
    margin-top:4em;
    padding-bottom:3em;
   
}

 




.foot ul{
   
    display: inline-block;
    list-style-type: none;
    padding:0 4em 2em 1em;
    text-align: left;
    color:white;
    text-decoration-color: white;
    padding-inline-start: 0;
    margin-bottom:3em;
}

.foot ul:first-child{
    border-bottom:1px solid lightgrey;
}



.foot ul li{
    margin-bottom:1em;
    
}

.foot ul li a{
    color:white;
}

.foot ul li a:hover{
    text-decoration: underline;
}

.foot ul li:first-child a{
    Font-size:1.5em;
}




.language-select{
    display:inline;
    margin-top:2em;
    border:none;
    background-color: black;
    color:lightgrey;
}

