*{
    margin:0;
    box-sizing: border-box;
    font-size:1.2rem;
    
    font-family: 'Open Sans', sans-serif;
    
}


.debug{
    border:1px dashed red;
}

.debug2{
    border:1px dashed blue;
}

.clearfix::after{
    content: "";
    display:table;
    clear: both;
}

.header-top{
    height: 80px;
    line-height:80px;
    vertical-align: middle;
    min-width: max-content;
    font-weight: 500;
    position:fixed;
    background-color:white;
    z-index:99;
   
    
}

.header-laterl{

}

.header-lateral .left{
    padding-inline-start:40px;
}
 .header-lateral .right{
    padding-inline-end:40px;
    padding-inline-start:0px;
}


ul.nav-list li{
    
    
    list-style-type: none;
    display:inline;
    margin:0px 10px;
}

.btn{
    padding:10px 15px;
    text-decoration: none;
    background-color:hsl(217deg 100% 50%);
    color:white;
}

a{
    text-decoration:none;
    padding-bottom:calc(80px / 2);
}

.header-lateral ul li a:hover{
    border-bottom:1px solid blue;
}
.header-lateral ul li a.logo:hover, .header-lateral ul li a.btn:hover {
    border:none;}

   
    .container{
        padding-top:80px;
        
        background-color:white;
        
        
    }
    
    .first{
        background-color:hsl(207deg 52% 81%);
        padding:5% 10%;
        padding-bottom:0px;
    }
    
    
   

    .first h1{
        font-size:4.5rem;
        margin-bottom:40px;
    }

    
    .first div p{
        margin-bottom:30px;
    }

    .btn:hover{
        opacity:0.7;
    }
    
    .first div a{
        display: inline-block;
        margin-bottom:20px;
    }

    .a-main{
        padding:0px;
    }
    .a-main:hover{
        color:white;
    }

    .fa-arrow-down{
        display:block;
        font-size:3rem;
        margin-top:30px;
    }

    .jumbo{
        right:0;
    }
    

    .second{
        padding:5% 20%;
    }

    .second h1{
        font-size:2em;
        margin-bottom:20px;
    }
    
    .tab-header{
        padding:5%;
    }
    
    .tab-cnt{
        padding:5%;
    }
    .tab-cnt p:nth-child(3){
        margin-bottom:20px;
    }

    .brd{
        border:1px solid grey;
    }

    .tab-list{
        padding-inline-start: 5%;
        margin-bottom:80px;
       
    }
    .tab-list li{
        margin-bottom:10px;
    }




    .pencil-style{
        
        list-style-image: url(../img/pencil.svg);
    }
    .user-style{
       
        list-style-image: url(../img/user.svg);
    }
    .folder-style{
        
        list-style-image: url(../img/folder.svg);
    }

    /* .check-flag li{
        list-style-image: url(../img/check-flag.svg);
        color:blue;
    } */

    .buy-now{
        color:blue;
    }
    .buy-now:hover{
        text-decoration: underline;
    }
    .check-flag li{
        
        list-style-image: url(../img/check-flag.svg);
    }
    .check-flag li::marker{
        color:blue;
        font-size:xx-large;
    }

.tab-mrg-left{
    margin-left:5%;
}
.tab-mrg-right{
    margin-right:5%;
}




    
    

    

    

    
















/* float */
.f-left{
    float:left;
}

.f-right{
    float:right;
}










/* utilities */

.mar-btm40{
    margin-bottom:40px;
}
.mar-top40{
    margin-top:40px;
}
.relative{
    position:relative;
}
.absolute{
    position:absolute;
}





.inline{display:inline;}
.in-block{
    display:inline-block;
}
 /* widths */

.w25{
    width:25%;
}

.w30{
    width:30%;
}
.w40{
    width: 40%;
}
.w60{
    width:60%;
}
.w70{
    width:70%;
}

.w75{
    width:75%;
}
.w80{
    width:80%;
}

.w100{
    width:100%;
}

/* heights */
.h100{
    height: 100%;
}

.hv100{
    height: 120vh;
}

.center{text-align: center;}
.left{
    text-align:left;
}
.right{
    text-align:right;
}









